---
export interface Props {
  caption: string;
  embedUrl: string;
  description?: string;
  frameTitle?: string;
  modelId?: string;
}

const { caption, embedUrl, description = "", frameTitle = "", modelId = `${Math.random()}` } = Astro.props;

const url = `${embedUrl}?transparent=1`;
---

<div id={modelId}>
  <div class="px-4 mb-4">
    <h3 class="text-xl md:text-2xl text-center my-2">{caption}</h3>
    {description && <p class="text-sm md:text-base text-center text-gray-700 max-w-3xl mx-auto">{description}</p>}
  </div>
  <div class="sketchfab-embed-wrapper flex flex-col items-center w-full">
    <iframe
      class="w-full h-screen"
      title={frameTitle}
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src={url}></iframe>
  </div>
</div>
