---
import LayoutMinimal from "../layouts/LayoutMinimal.astro";
import Contact from "../components/Contact.astro";
import { getCollection } from "astro:content";

const photos = (await getCollection("photos", ({ data }) => !data.is_hidden)).map((photo) => {
  const takenDate = photo.data.taken_at 
    ? ` Taken: ${photo.data.taken_at.toISOString().split("T")[0]} /` 
    : '';
  
  const publishedDate = photo.data.published_at 
    ? ` Published: ${photo.data.published_at.toISOString().split("T")[0]} /` 
    : '';
  
  const friendly_title = `${photo.data.title} |${takenDate}${publishedDate} Source: ${photo.data.reference_title}`;

  return {
    ...photo,
    data: {
      ...photo.data,
      friendly_title,
    }
  };
});
---

<LayoutMinimal
  title="Photo Archive | Adil Al Qaba - Software Engineer"
  description="Adil Al Qaba (عادل محمد عدنان), a software engineer and published researcher, winner of many international prizes like Huawei ICT, ACPC, DoCH, Falling Walls"
>
  <main>
    <h2>Photo Archive</h2>
    <p style="margin-bottom: 0;">A collection of photos that highlight various events I have been in:</p>
    <span style="margin: 4px 0;" class="italic">note: hover over image for description (hold on phone)</span>
    <div class="full-screen-container">
    <div class="masonry-grid">
      {
        photos.map((photo) => (
            <figure style="margin: 0;" class="grid-item">
              {/* TODO: Support browsers that don't have native lazy loading */}
                <img
                    class="grid-item-img"
                    title={photo.data.friendly_title}
                    src={photo.data.image}
                    alt={photo.data.title}
                    data-mirrored={photo.data.image_mirror}
                    width={photo.data.width}
                    height={photo.data.height}
                    loading="lazy"
                />
                <figcaption>
                {photo.data.reference && (
                  <span class="sr-only">Image Source: <a href={photo.data.reference}>{photo.data.reference_title}</a></span>
                )}
                </figcaption>
            </figure>
        ))
      }
    </div>
    </div>

    <Contact />
  </main>
  <style>
    body {
      overflow-x: hidden;
    }

    .full-screen-container {
      width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
    }

    .masonry-grid {
      max-width: 1200px;
      margin: 0 auto;
    }

    .grid-item {
      width: 50%;
    }

    .grid-item-img {
      display: block;
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 768px) {
      .grid-item {
        width: 33.333%;
      }
    }

    @media screen and (min-width: 1024px) {
      .grid-item {
        width: 25%;
      }
    }
  </style>
  <script>
    import Masonry from 'masonry-layout';

    const elem = document.querySelector(".masonry-grid");
    const msnry = new Masonry(elem!, {
      itemSelector: ".grid-item",
      columnWidth: ".grid-item",
      percentPosition: true,
    });

    const images = document.querySelectorAll<HTMLImageElement>(".grid-item-img");
    images.forEach(function(img) {
      img.onerror = function () {
        if (this.dataset.mirrored) {
          this.src = this.dataset.mirrored;
        }
        img.onerror = null;
      };
      
      img.onload = function () {
        msnry.layout?.();
      };
      
      // If image already loaded, trigger layout
      if (img.complete) {
        msnry.layout?.();
      }
    });
  </script>
</LayoutMinimal>
