---
import type {
  ProjectDetailsMDXProps,
  ProjectDetailsProps,
} from "../lib/interfaces/ProjectDetails";
import CldImage from "./CldImage.astro";

export interface Props {
  mdxProps: ProjectDetailsMDXProps;
  url: ProjectDetailsProps["url"];
}

const { mdxProps, url } = Astro.props;
---

<div>
  <CldImage
    style="max-width: 100%; height: auto;"
    src={mdxProps.projectCover.name}
    width={mdxProps.projectCover.width}
    height={mdxProps.projectCover.height}
    alt={mdxProps.projectCover.alt}
    optimize={true}
  />
  <h3 style="margin-bottom: 0;">{mdxProps.projectName}</h3>
  <p style="margin-top: 0; margin-bottom: 0;">{mdxProps.projectSummary}</p>
  <div style="display: flex; gap: 8px;">
    {
      url && (
        <a href={url}>
          Read more
          <span class="sr-only">about {mdxProps.projectName}</span>
        </a>
      )
    }
    {
      mdxProps.projectDemo && (
        <a href={mdxProps.projectDemo}>
          Project website
          <span class="sr-only">about {mdxProps.projectName}</span>
        </a>
      )
    }
  </div>
</div>
