---
export interface Props {
  caption: string;
  subCaption?: string;
  embedUrl: string;
  frameTitle?: string;
}

const { caption, subCaption = "", embedUrl, frameTitle = "" } = Astro.props;

const url = `${embedUrl}?autospin=1&transparent=1`;
---

<div>
  <div class="sketchfab-embed-wrapper flex flex-col items-center aspect-square">
    <iframe
      class="w-full h-full"
      title={frameTitle}
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src={url}></iframe>
  </div>
  <h3 class="primary-font mt-2 text-xl text-[#28282A]">{caption}</h3>
  <p class="primary-font mt-1 text-sm text-[#28282A66]">{subCaption}</p>
</div>
